*{
    margin : 0px;
    padding: 0px;
}
body{
    width: 100%;
    height : 79vh;
    background-color: #e0e0e0;
    display: block;
    text-align: center;
}
#option{
    margin : 20% 25% 3%;
    width: 50vw;
    height: 5vh;
    border-radius: 54px;
    background: #e0e0e0;
    box-shadow: inset 21px 21px 43px #cecece,
            inset -21px -21px 43px #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    vertical-align: middle;
}
#reset{
    width: 6vw;
    height: 4vh;
    border-radius: 54px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  25px 25px 50px #cecece,
                 -25px -25px 50px #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
}
#reset:hover{
    cursor: pointer;
    border-radius: 54px;
    background: #e0e0e0;
    box-shadow: inset 25px 25px 50px #cecece,
                inset -25px -25px 50px #f2f2f2;
}
#resetTexte{
    font-size: 1.5vw;
    font-family: Arial, Helvetica, sans-serif;
}
/* début toggle*/
.label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: #394a56;
  }
  
  .label-text {
    margin-left: 1vw;
    margin-right : 1vw;
    font-size: 1.5vw;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .toggle {
    isolation: isolate;
    position: relative;
    height: 30px;
    width: 60px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow:
      -8px -4px 8px 0px #ffffff,
      8px 4px 12px 0px #d1d9e6,
      4px 4px 4px 0px #d1d9e6 inset,
      -4px -4px 4px 0px #ffffff inset;
  }
  
  .toggle-state {
    display: none;
  }
  
  .indicator {
    height: 100%;
    width: 200%;
    background: #ecf0f3;
    border-radius: 15px;
    transform: translate3d(-75%, 0, 0);
    transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
    box-shadow:
      -8px -4px 8px 0px #ffffff,
      8px 4px 12px 0px #d1d9e6;
  }
  
  .toggle-state:checked ~ .indicator {
    transform: translate3d(25%, 0, 0);
  }
/* fin toggle*/
#grid{
    margin : 0vh 25vw; 
    width : 50vw;
    height : 50vh;
    border-radius: 54px;
    background: linear-gradient(145deg, #b4b4b457, #9a9a9b2c);
    box-shadow:  35px 35px 46px #cecece,
                 -35px -35px 46px #f2f2f2;
    display: grid;
    padding-left: 1vw;
    padding-top: 1vh;
    grid-template-columns: 17vw 17vw 17vw;
    grid-template-rows: 17vh 17vh 17vh;
    grid-area: 10%;
}
.item{
    width : 15vw;
    height: 15vh;
    border-radius: 54px;
    background: linear-gradient(145deg, #66666609, #cacaca);
    box-shadow:  21px 21px 43px #cecece,
             -21px -21px 43px #f2f2f2;
    font-size: 10vw;
    font-family: Arial;
}
.item:hover{
    cursor: pointer;
    border: 0.2vw solid black;
}

.cross {
    background: red;
    height: 60%;
    position: relative;
    width: 5%;
    margin : 20% 45%;
    transform: rotate(-45deg);
  }
.cross:after {
    background: red;
    content: "";
    height: 8%;
    left: -550%;
    position: absolute;
    top: 45%;
    width: 1200%;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    padding-top: 3%;
}