:root {
  --nbLines: 3;
  --nbColumns: 3;
}

#morpion {
  background-color: beige;
  display: grid;
  grid-template-columns: repeat(var(--nbColumns), 1fr);
  grid-template-rows: repeat(var(--nbLines), 1fr);
  gap: 3px 3px;
  width: 500px;
  height: 500px;
}
#morpion .case {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  font-size: 7em;
  display: flex;
  justify-content: center;
  align-items: center;
}
#morpion .case.odd {
  background-color: grey;
}
#morpion .case.is-clickable {
  cursor: pointer;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header .title {
  font-size: 3em;
  text-decoration: underline;
}
.header #btn_launch {
  background: transparent;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.messageEnd {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 500px;
}

.hidden {
  display: none !important;
}
