:root {
  --nbLines: 3;
  --nbColumns: 3;
  --player-color-0: black;
  --player-color-1: black;
}

#morpion {
  display: grid;
  grid-template-columns: repeat(var(--nbColumns), 1fr);
  grid-template-rows: repeat(var(--nbLines), 1fr);
  gap: 5px;
  padding: 5px;
  width: 500px;
  height: 500px;
  border-radius: 5px;
  background-color: #1f1f1f;
}
#morpion .case {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  font-size: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
  color: var(--player-color-0);
  stroke: #000;
  stroke-width: 5;
}
#morpion .case.odd {
  background-color: #5d5d5d;
}
#morpion .case.is-clickable {
  cursor: pointer;
}
#morpion .case svg {
  width: 85%;
}
#morpion .case.victory {
  color: blue;
  color: #0184ff;
  stroke: #000;
  stroke-width: 20;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header .title {
  font-size: 3em;
  text-decoration: underline;
}
.header #btn_launch {
  background: transparent;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, #0081ff 0%, #17e2ff 100%);
}

#btn_launch {
  cursor: pointer;
  font-size: large;
  text-shadow: 0 0 2px black, 0 0 5px white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container #text {
  margin-top: 20px;
  font-size: 2em;
}
.container .messageEnd {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 500px;
}
.container .hidden {
  display: none !important;
}
