@import './variables';
@import './mixins';
@import './morpion';
@import './header';

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    @include divCenter();
}

.messageEnd {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 500px;
}

.hidden {
    display: none !important;
}
